body{
    background-color:black;
}
h1{
    text-transform:uppercase;
    font-size:3rem;
    
}
.poster{
    color:white;
    font-family: 'Libre Baskerville', serif;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    text-align: center;

    
}
.motivation-img{
    border:5px solid white;
    width:100%;
}